.container-img {
    width: 100%;
    max-width: 800px; /* Puedes ajustar el valor según tus necesidades */
   
    text-align: left;
  }
  
  .rounded-image {
    width: 60%;
    border-radius: 50px;
    margin-left: 0; /* Alinear la imagen a la izquierda */
  }
